.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*//public
/node_modules
/.deploy_git
/.vscode
source/reading/index.resource/commit.json
source/recipe/index.resource/commit.json
*.json
themes/dacman.rar
