<div class="linkslist">
  <p class="asidetitle">常用资源</p>
    <ul>
        
      <li><a href="http://www.drunkevil.org/atom.xml" target="_blank" title="Rss">本站RSS</a></li>
            
    </ul>
</div>